# API Configuration
VITE_API_BASE_URL=http://localhost:5000/api

# Razorpay Configuration
# Get your test/live key from https://dashboard.razorpay.com/app/keys
VITE_RAZORPAY_KEY_ID=your-razorpay-key-id-here

# App Configuration
VITE_APP_NAME=E-commerce Platform
VITE_APP_VERSION=1.0.0

# Environment
VITE_NODE_ENV=development

# UI Toggles
# Show payment method selection in Checkout. Set to 'true' to show, 'false' to hide
VITE_SHOW_PAYMENT_METHODS=true

VITE_QR_IMAGE_URL='src/assets/images/QR_code.png'
VITE_USE_QR_PAYMENT=false
